/* Esto es un comentario*/

body {
    margin: 0;
    font-family: 'Ubuntu Mono', monospace;    
    background: white;
}
  
  .header {
    align-items: center;
    background: white;
    color: white;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
  }
  
  .logo {
    margin-left: 30px;
    width: 70px;

  }

  .profile_i {
    margin-right: 30px;
  }
  
  .profile_i ul {
    display: none;
    list-style: none;
    margin: 0px 0px 0px -14px;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
  }

  .profile_i:hover ul, ul:hover {
    display: block;
  }
  
  .profile_i li {
    margin: 10px 0px;
  }
  
  .profile_i li a {
    color: gray;
    text-decoration: none;
  }
  
  .profile_i li a:hover {
    text-decoration: underline;
  }
  
  .profile_i--profile {
    align-items: center;
    display: flex;
    cursor: pointer;
  }
  
  .profile_i--profile img {
    background-color: black;
    margin-right: 8px;
    width: 40px;
  }

  
  .input {
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16px;
    height: 50px;
    margin-bottom: 20px;
    outline: none;
    padding: 10px 20px;
    width: 70%;
  }
  
  ::placeholder {
    color: rgb(24, 24, 24);
  }

  .user {
    align-items: center;
    display: flex;
    cursor: pointer;
  }
  
  .user img {
    background-color: blueviolet;
    margin-right: 8px;
    width: 40px;
  }
  

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
